@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

#header {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #444;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1em;
}

li {
	float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 0.15em 0.4em;
  text-decoration: none;
}

#content {
	margin-top: 5vh;
}

#board {
	font-family: 'Roboto Mono', monospace;
	white-space: pre-wrap;
}